mixin sliderm3(min, max, value1, value2, step, intervals, hint, scale, interval, vertical, length, lineHeight, pointSize, colorLine, colorRange, colorPoint, colorScale, colorText)
    .sliderm3(
        data-min=min, 
        data-max=max, 
        data-value1=value1, 
        data-value2=value2, 
        data-step=step, 
        data-intervals=intervals, 
        data-hint=hint, 
        data-scale=scale, 
        data-interval=interval, 
        data-vertical=vertical, 
        data-length=length, 
        data-line-height=lineHeight, 
        data-point-size=pointSize, 
        data-color-line=colorLine, 
        data-color-range=colorRange, 
        data-color-point=colorPoint, 
        data-color-scale=colorScale, 
        data-color-text=colorText
        )